@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import './components/_reset';
@import './components/_variables';

body {
	font-family: 'Nunito', sans-serif;
	font-size: $font-size;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.container .todo-card {
	width: $w-60;
	box-sizing: border-box;
	margin: 100px auto 20px auto;
	padding: $p-10;
	background-color: $lighter-grey;
	border-radius: $br-7;
	box-shadow: 0 1px 2px $opacity-black-3;
}
