@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('../../node_modules/bootstrap-icons/font/bootstrap-icons.css');
@import './components/_reset';
@import './components/_variables';

body {
	font-family: 'Nunito', sans-serif;
	font-size: $font-size;
	background-color: $light-grey;
}

/** Responsive container --START **/
.container {
	width: 80%;
	margin: 0 auto;
}
/** Responsive container --END **/

/** Todo Container Card --START **/

.container .todo-card {
	width: $w-50;
	box-sizing: border-box;
	margin: 100px auto 20px auto;
	padding: $p-10;
	background-color: $lighter-grey;
	border-radius: $br-7;
	box-shadow: 0 1px 2px $opacity-black-3;
}
/** Todo Container Card --END **/

/** Header with input --START **/

header.todo-header-input {
	width: $w-100;
	padding: $p-15 0;
	margin-bottom: $m-25;
}

.input-field input {
	width: $w-90;
	height: 100%;
	padding: $p-5 0;
	font-size: 20px;
	border: none;
	background-color: $lighter-grey;
	border-bottom: 1px solid $dark-4;
}

.input-field input:focus {
	border: none;
	outline: none;
	border-bottom: 2px solid $dark-4;
}

.input-field button {
	transform: translateY(4px);
	background-color: transparent;
	border: none;
}

.input-field button span {
	font-size: 35px;
	cursor: pointer;
}

/** Header with input --END **/

/** Todo Tasks Navigation --START **/
.todo-navigation {	
	display: flex;
	font-size: 20px;	
	text-align: center;
	margin-bottom: $m-50;
}

.todo-navigation span {
	cursor: pointer;
	width: calc($w-100 / 3);
	color: $dark-4;
}

.todo-navigation span.active {
	color: $dark-0;
}

/** Todo Tasks Navigation --END **/

/** List Of Tasks --START **/

ul.tasks {
	margin-bottom: $m-25;
	list-style-type: none;
}

ul.tasks .task-item {
	position: relative;
	padding-bottom: $p-15;
}

ul .task {
	cursor: pointer;
	font-size: 18px;
}

ul .task.complete {
	text-decoration: line-through;
}

.task-more {
	float: right;
	clear: both;
	padding-right: $p-10;
	cursor: pointer;
}

.pop-up-more {
	position: absolute;
	width: 80px;
	padding: $p-10 $p-5;
	border: 1px solid;
	border-radius: $br-7;
	background-color: $ghost-white;
	box-shadow: 0 2px 3px $opacity-black-3;
	top: 0;
	left: 75%;
	z-index: 100;
	// transform: scale(0);
	transition: transform .3s ease-in-out;
}

.pop-up-more p {
	margin: $m-5 0;
	cursor: pointer;
	text-decoration: underline;
}

.active {
	transform: scale(1);
}
/** List Of Tasks --END **/
