<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%=htmlWebpackPlugin.options.title%></title>
</head>
<body>

	<div class="container">
		<div class="todo-card">
			<header class="todo-header-input">
				<div class="input-field">
					<input type="text" class="task-input" placeholder="Create task" autofocus>
					<button type="button" class="add-task">
						<span class="bi bi-plus-circle-fill"></span>
					</button>
				</div>
			</header>

			<div class="todo-navigation">
				<span class="all active" id="all">All tasks</span>
				<span class="pending" id="pending">Pending</span>
				<span class="completed" id="completed">Completed</span>
			</div>

		</div>
	</div>

</body>
</html>